<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
    
    <head>
        <title>EventDetails | Angular x PluralSight</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/app.css" rel="stylesheet" media="screen">
        <!-- To start server... cd desktop/tuts/ang/angular-seed-master THEN scripts/web-server.js-->
    </head>
    
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav"></ul>
            </div>
        </div>
        <div ng-controller="EventController" style="padding: 2%;">
            <img ng-src="{{event.imageUrl}}" class="img-responsive" width="300" />
            <div class="row">
                <div class="col-xs-12">
                    
                    <!-- set style or class
                    <h2 ng-style="mystyle" ng-bind="event.name"></h2>
                    <h2 ng-class="myclass">foo</h2>-->

                    <!--shows 3 different ways to use directives
                    <h2 ng-bind="event.name"></h2>
                    <h2>{{event.name}}</h2>
                    <h2 ng-bind-template="{{event.name}} {{event.date}}"></h2>-->

                    <h2>{{event.name}} {{event.date}}</h2>
                </div>
            </div>
            
            <!-- wont parse whats inside the div
            <div ng-non-bindable>{{1 + 2}}</div>-->

            <!-- disabled button...set true/false in controller
            <button class="btn" ng-disabled>Disabled</button>-->


            <!-- using sanitize to show it strip out style tag
            <div ng-bind-html="snippet">some title</div>
            <div ng-bind-html-unsafe="snippet">some title</div>-->

            <!--show/hide...set in the controller
            <h2 ng-show="boolValue">Show This</h2>
            <h2 ng-hide="boolValue">Hide This</h2>-->
            
            <div class="row">
                <div class="col-xs-3">
                    <div>
                        <strong>Date:</strong>{{event.date}}</div>
                    <div>
                        <strong>Time:</strong>{{event.time}}</div>
                </div>
                <div class="col-xs-4">
                    <address>
                        <strong>Address:</strong>
                        <br/>{{event.location.address}}
                        <br>{{event.location.city}}, {{event.location.province}}</address>
                </div>
            </div>
            <hr />
            <h3>Sessions</h3>
            <ul class="thumbnails list-unstyled">
                <li ng-repeat="session in event.sessions">
                    <div class="row session">
                        <div class="col-md-1 well votingWidget">
                            <div class="votingButton cursor-pointer" ng-click="upVoteSession(session)">
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </div>
                            <div class="badge">
                                <div>{{session.upVoteCount}}</div>
                            </div>
                            <div class="votingButton cursor-pointer" ng-click="downVoteSession(session)">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </div>
                        </div>
                        <div class="well col-xs-9">
                            <h4 class="well-title">{{session.name}}</h4>
                            <h6 style="margin-top: -10px;">{{session.creatorName}}</h6>
                            <span>Duration: {{session.duration}}</span>
                            <br>
                            <span>Level: {{session.level}}</span>
                            <p>{{session.abstract}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="lib/jquery-1.10.2.min.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/EventController.js"></script>
</body>

</html>